<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Meu Carrinho</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/portfolio-item.css" rel="stylesheet" />
</head>

<body>

	<div th:include="header :: header">	</div>	
	
    <!-- Page Content -->
    <div class="container">

        <!-- Related Projects Row -->
        <div class="row">

            <div th:if="${session.shoppingCart}">
	            <div class="col-xs-12">
	                <h1 class="page-header">Meu Carrinho</h1>
	                 <div class="pull-right">
	                 	<div>
							<h3><small>Total: </small><span class="text-success" th:text="'R$' + ${#numbers.formatDecimal(session.shoppingCart.total, 0, 'COMMA', 2, 'POINT')}"></span></h3>
							<a href="/finalizar-compra" class="btn btn-success btn-lg">Finalizar Compra</a>
							<a href="/remove" class="btn btn-danger" style="margin-left:20px;">Limpar Carrinho</a>
						</div>
	                 </div>
	            </div>
	            
			    <div th:each="product : ${session.shoppingCart.products}" class="row">
		            <div class="col-md-4">
						<img th:src="${product.imagePeq}" />
		            </div>	
		            <div class="col-md-4">
		                <h3>
		                	<span th:text="${product.title}"></span>
		                </h3>
		                <p class="lead" th:text="${product.description}"></p>
		                <h3>
		                	<span class="text-success" th:text="'R$' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></span>
		                </h3>
		            </div>
			    </div>
			</div>
			
            <div th:unless="${session.shoppingCart}">
                <h1 class="page-header">Seu carrinho está vazio! :-(</h1>
            	<img src="/images/empty_cart.png" class="center-block img-responsive" />
			</div>
			
        </div>
        <!-- /.row -->

		<div th:include="footer :: footer">	</div>	

    </div>
    <!-- /.container -->

    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	
</body>

</html>
