<!-- Footer -->
<div th:fragment="footer">
    <hr />
	<footer>
	    <div class="row">
	        <div class="col-lg-12">
	            <p>Copyright &copy; E-Commerce Carlyone 2017</p>
	        </div>
	    </div>
	    <!-- /.row -->
	</footer>
</div>
