<div th:fragment="header">
 <!-- Navigation -->
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
                 <li>
		             <a href="/">Home</a>
                 </li>
                 <li>
                     <a href="/personagem/hulk/1">Hulk</a>
                 </li>
                 <li>
                     <a href="/personagem/homem-de-ferro/2">Homem de Ferro</a>
                 </li>
                 <li>
                     <a href="/personagem/capitao-america/3">Capitão América</a>
                 </li>
                 <li>
                     <a href="/personagem/thor/4">Thor</a>
                 </li>
             </ul>
 	         <div th:unless="${meuCarrinho}">   
	             <div class="pull-right" style="padding:5px;">
					<a href="/meu-carrinho" class="btn btn-default btn-lg">Meu Carrinho</a>
	             </div>
             </div>
         </div>
         <!-- /.navbar-collapse -->
     </div>
     <!-- /.container -->
 </nav>
</div>