<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Personagens Marvel</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/portfolio-item.css" rel="stylesheet" />
</head>

<body>

	<div th:include="header :: header">	</div>	

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Kit Completo
                    <small>Os Vingadores</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row" id="product">

            <div class="col-md-8">
                <img class="img-responsive" src="images/kit-completo.png" alt="" />
            </div>

            <div class="col-md-4">
                <h3>
                	<span th:text="${kitCompleto.title}"></span>
                </h3>
                <p class="lead" th:text="${kitCompleto.description}"></p>
                <h3>
                	<small class="text-danger">
                		<del>De: R$<span th:text="${#numbers.formatDecimal(kitCompleto.de, 0, 'COMMA', 2, 'POINT')}"> </span></del>
                	</small>
                	<span class="text-success" th:text="' Por: R$' + ${#numbers.formatDecimal(kitCompleto.price, 0, 'COMMA', 2, 'POINT')}"></span>
                </h3>
              <form action="/addProduto" method="post">
				  <input type="hidden" th:value="${kitCompleto.id}" name="id" />
				  <button type="submit" class="btn btn-success btn-lg btn-block">Add no Carrinho</button>
			  </form>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Personagens Marvel</h3>
            </div>
            
		    <div th:each="product : ${products}" class="col-xs-4">
		        <p th:text="${product.name}" class="text-info" style="margin-top:20px;"></p>
		    	<a th:href="${product.url}">
					<img th:src="${product.imagePeq}" class="img-thumbnail" />
				</a>
		    </div>
            
        </div>
        <!-- /.row -->

		<div th:include="footer :: footer">	</div>	

    </div>
    <!-- /.container -->

    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	
</body>

</html>
