<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Finalizar Compra</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/portfolio-item.css" rel="stylesheet" />
</head>

<body>

	<div th:include="header :: header">	</div>	
	
    <!-- Page Content -->
    <div class="container">

        <!-- Related Projects Row -->
        <div class="row">

            <div th:if="${session.shoppingCart}">
	            <div class="col-xs-12">
	                <h1 class="page-header">Finalizar Pagamento <small> | Cadastro Dados Pessoais</small></h1>
	            </div>
	            
	            <div class="col-xs-12">
					<h2><small>Total: </small><span class="text-success" th:text="'R$' + ${#numbers.formatDecimal(session.shoppingCart.total, 0, 'COMMA', 2, 'POINT')}"></span></h2>
	            </div>
	            
				<div class="col-xs-12">
					<form class="form-horizontal" style="margin-top:20px;" action="#" th:action="@{/pagamento}" th:object="${payment}" method="post">
							<div class="form-group">
								<div class="col-xs-4">
									<input type="text" class="form-control" placeholder="Nome" name="firstname" th:field="*{firstname}" />
									 <p class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-4">
									<input type="text" class="form-control" name="lastname" placeholder="Sobrenome" th:field="*{lastname}" />
									<p class="alert alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-4">
									<input type="text" class="form-control" placeholder="CPF" name="cpf" th:field="*{cpf}" />
									<p class="alert alert-danger" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-4">
									<input type="text" class="form-control" placeholder="Número do Cartão" name="numbercard" th:field="*{numbercard}" />
									<p class="alert alert-danger" th:if="${#fields.hasErrors('numbercard')}" th:errors="*{numbercard}"></p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-4">
									<input type="text" class="form-control" name="lastname" placeholder="Código de desconto" th:field="*{cuponCode}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<button type="submit" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Finalizar Compra</button>
								</div>
							</div>
					</form>
				</div>
			</div>
			
            <div th:unless="${session.shoppingCart}">
                <h1 class="page-header">Seu carrinho está vazio! :-(</h1>
            	<img src="images/empty_cart.png" class="center-block img-responsive" />
			</div>
			
        </div>
        <!-- /.row -->

		<div th:include="footer :: footer">	</div>	

    </div>
    <!-- /.container -->
    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Redirecionando...</h4>
	      </div>
	      <div class="modal-body">
	        <p class="text-info">Por favor aguarde, iremos redirecionar você para o Moip!</p>
	      </div>
	    </div>
	  </div>
	</div>
</body>

</html>
