<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title th:text="${product.name}"></title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/portfolio-item.css" rel="stylesheet" />
</head>

<body>

	<div th:include="header :: header">	</div>	

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                	<span th:text="${product.name}"></span>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
				<img th:src="${product.imageGrd}" />
            </div>

            <div class="col-md-4">
                <h3>
                	<span th:text="${product.title}"></span>
                </h3>
                <p class="lead" th:text="${product.description}"></p>
                <h3>
                	<small class="text-danger">
                		<del>De: R$<span th:text="${#numbers.formatDecimal(product.de, 0, 'COMMA', 2, 'POINT')}"> </span></del>
                	</small>
                	<span class="text-success" th:text="' Por: R$' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></span>
                </h3>
              <form action="/addProduto" method="post">
	          	<input type="hidden" th:value="${product.id}" name="id" />
				<button type="submit" class="btn btn-success btn-lg btn-block">Add no Carrinho</button>
              </form> 
            </div>

        </div>
        <!-- /.row -->

		<div th:include="footer :: footer">	</div>	

    </div>
    <!-- /.container -->

    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	
</body>

</html>
